<%- layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <%for(let data of alldata){ %>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
      <div class="card">
        <div class="card-body">
          <img src="<%=getunivimage(data.University)%>" class="card-img-top" alt="...">
          <h5 class="card-title"><%= data.University %></h5>
          <p class="card-text"><%= data.Program %></p>
          <p>Course : <%= data.Degree %><br>
             Season: <%= data.Season %><br>
          </p>
          <p class="badge text-bg-primary"><%= data.Status %></p>
        </div>
      </div>
    </div>
  <% } %>
</div>